<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;800&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="image/icon.ico" type="image/x-icon" />
    <title>Simulador - Sobre</title>
  </head>

  <body>
    <header>
      <nav id="menu">
        <div id="logo">
          <a href="/"><img src="image/logo.svg" alt="Simulador" /></a>
        </div>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="register">Cadastro</a></li>
          <li><a href="about">Sobre</a></li>
        </ul>
        <img class="menuMobile" src="image/icon-menu.svg" alt="" />
      </nav>
    </header>
    <main id="main-about">
      <div id="container">
        <div id="banner">
          <img src="image/image-01.png" alt="" />
        </div>
        <div id="about-page">
          <div id="title-about">
            <h2 id="titleH2">SOBRE NÓS</h2>
          </div>
          <p>
            A Simulador é uma EMPRESA independente que comercializa os produto e
            serviços da IMPACTOCORR, Rede LojaCorr e a BR Consórcios. A BR
            Consórcios foi criada a partir da associação entre o Consórcio
            União, (fundada em 1977) e a Rodobens Consórcio (fundada em 1966)
            com o objetivo de unir e fortalecer operadoras de consórcios
            nacionais que desejam expandir sua atuação, e também atrair para o
            setor empresas que não atuam neste segmento, gerando assim novas
            oportunidades de negócios. A maior Rede de Corretores de Seguros
            independentes do Brasil, a Rede LojaCorr, atua desde 1996 buscando
            oferecer as melhores soluções em CONSORCIOS a seus corretores e,
            consequentemente, aos clientes. Hoje, a Rede LojaCorr está
            distribuída em 20 estados, mais Distrito Federal, presente em mais
            de 1.000 municípios, por meio de 49 Unidades que atendem 1.000
            corretores de CONSORCIOS. A Rede LojaCorr conta também com 180
            colaboradores, em todo. país. Esta parceria amplia o portfólio de
            produtos e fronteiras de mercado da Rede LojaCorr, atingindo um novo
            perfil de clientes, que buscam a aquisição de bens e ampliação do
            patrimônio através do Consórcio.
          </p>
          <a id="button" href="register">VOLTAR</a>
        </div>
      </div>
    </main>
    <footer>Design by Tamara Organ</footer>

    <script src="js/script.js"></script>
  </body>
</html>
