<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/stylePDF.css" />
  <title>DADOS CADASTRO - PDF</title>
</head>

<body>
  <main>
    <fieldset>
      <legend>DADOS DOS CLIENTES QUE PREENCHERAM O SIMULADOR</legend>
      <p>
        <strong>Seleção: </strong>
        <%= selectOptionType %>
      </p>
      <p>
        <strong>Opção: </strong>
        <%= inputValuePortion %>
      </p>
      <p>
        <strong>Valor: R$ </strong>
        <%= value %>,00
      </p>
      <p>
        <strong>Nome: </strong>
        <%= name %>
      </p>
      <p>
        <strong>E-mail: </strong>
        <%= email %>
      </p>
      <p>
        <strong>Telefone: </strong>
        <%= phone %>
      </p>
      <p>
        <strong>CEP: </strong>
        <%= cep %>
      </p>
    </fieldset>
    <h4></h4>
  </main>
  <footer></footer>
</body>

</html>