<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;800&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="image/icon.ico" type="image/x-icon">
  <title>Simulador - Home</title>
</head>

<body>
  <header>
    <nav id="menu">
      <div id="logo">
        <a href="/"><img src="image/logo.svg" alt="Simulador"></a>
      </div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="register">Cadastro</a></li>
        <li><a href="about">Sobre</a></li>
      </ul>
      <img class="menuMobile" src="image/icon-menu.svg" alt="">
    </nav>
  </header>
  <main id="main-index">
    <div id="container">
      <div id="banner">
        <img src="image/image-01.png" alt="">
      </div>
      <div id="title">
        <h2 id="titleH2">FAÇA SUA SIMULAÇÃO E REALIZE SEU SONHO!</h2>
        <a id="button" href="register">CADASTRO</a>
      </div>
    </div>
  </main>
  <footer>
    Design by Tamara Organ
  </footer>

  <script src="js/script.js"></script>
</body>

</html>