<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;800&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="image/icon.ico" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Simulador - Cadastro</title>
  </head>

  <body>
    <header>
      <nav id="menu">
        <div id="logo">
          <a href="/"><img src="image/logo.svg" alt="Simulador" /></a>
        </div>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="register">Cadastro</a></li>
          <li><a href="about">Sobre</a></li>
        </ul>
        <img class="menuMobile" src="image/icon-menu.svg" alt="" />
      </nav>
    </header>
    <main id="main-simulator">
      <div id="container">
        <div id="banner">
          <img src="image/image-01.png" alt="" />
        </div>
        <div id="info">
          <form id="form-info" action="/register" method="POST">
            <h3>SIMULE AGORA SEU CONSÓRCIO</h3>
            <fieldset>
              <legend>O que deseja comprar</legend>
              <label for="selectOptionType"></label>
              <select name="selectOptionType" id="select">
                <option value="" selected>Selecione</option>
                <% selectTypeItem.map((item)=> { %>
                <option value="<%= item.value %>"><%= item.label %></option>
                <% }) %>
              </select>
            </fieldset>
            <fieldset>
              <legend>Seleciona a opção da consulta</legend>
              <div id="valueInputRadio">
                <% selectValuePortionItem.map((item)=> { %>
                <label for="inputValuePortion"><%= item.label %></label>
                <input
                  type="radio"
                  name="inputValuePortion"
                  id="input-radio"
                  value="<%= item.value %>"
                />
                <% }) %>
              </div>
            </fieldset>
            <fieldset>
              <legend>Arraste o Valor</legend>
              <label for="value"></label>
              <input
                type="range"
                name="value"
                id="valueInput"
                min="0"
                max="500000"
                value="1000"
                step="1000"
                oninput="showRangeValue(this.value)"
              />
              <div id="value-info">
                <div id="valueRangeStart" class="value-info-item">R$ 0,00</div>
                <div id="valueRangeResult" class="value-info-item">R$ 0,00</div>
                <div id="valueRangeEnd" class="value-info-item">R$ 500.000,00</div>
              </div>
            </fieldset>
            <fieldset>
              <legend>Preencha os Dados</legend>
              <label for="name"></label>
              <input
                type="text"
                name="name"
                id="name"
                placeholder="Nome Completo"
              />
              <label for="email"></label>
              <input type="text" name="email" id="email" placeholder="E-mail" />
              <div class="phone-cep">
                <label for="phone"></label>
                <input
                  type="text"
                  name="phone"
                  id="phone"
                  placeholder="Telefone"
                />
                <label for="cep"></label>
                <input type="text" name="cep" id="cep" placeholder="CEP" />
              </div>
            </fieldset>
            <button type="submit" id="button">ENVIAR</button>
          </form>
        </div>
      </div>
    </main>
    <footer>Design by Tamara Organ</footer>

    <script src="js/script.js"></script>
  </body>
</html>
