/********************************* Reset ***************************************/
* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 60%;
  overflow-x: hidden;
  width: 100vw;
}

input,
select,
legend,
fieldset,
::placeholder {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  color: var(--color-text-title-white);
}

select {
  background-color: var(--color-background-input);
}

a {
  text-decoration: none;
  font-size: 1rem;
}

li {
  list-style: none;
}

@media (min-width: 700px) {
  body {
    font-size: 62.5%;
  }
}
/********************************* Colors *************************************/
* {
  --color-background: #f6f6fa;
  --color-background-input: #e4e3e7;
  --color-background-box: #fff;
  --color-primary-light: #b5b8d3c0;
  --color-primary: #938bc2;
  --color-text-title: #938bc2;
  --color-text-title-white: #fff;
  --color-in-line: #b5b8d3;
  --color-text: #888888;
}

/********************************* Header *************************************/
header {
  width: 100%;
  box-sizing: border-box;
  background-color: var(--color-primary-light);
}

nav {
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 8%;
}
nav #logo img {
  width: 9.4rem;
}
nav .menuMobile {
  display: flex;
  width: 1.5rem;
}
nav ul {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 3.5rem;
  left: -10%;
  padding: 0;
  width: 100vw;
  height: auto;
  box-sizing: border-box;
  background: var(--color-primary-light);
}
nav ul li {
  padding: 2rem 0;
  text-align: center;
  width: 100%;
  border: 1px solid var(--color-in-line);
}
nav ul li a {
  color: var(--color-text-title-white);
  font-size: 1.5rem;
}

/********************************* Main *************************************/
#container {
  height: 100%;
  padding: 0% 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#banner {
  width: 100%;
  height: 17rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6% 0;
  animation: Fade 1.5s;
}
#banner img {
  width: 90%;
  height: auto;
}
@keyframes Fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#button {
  border: none;
  background-color: var(--color-primary);
  padding: 0.63rem 3.12rem;
  color: var(--color-text-title-white);
  transition: background-color 0.5s;
  border-radius: 0.63rem;
  letter-spacing: 2px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  text-decoration: none;
  margin-top: 0.5rem;
}

/********************************* Index *************************************/
#main-index {
  width: 100%;
  height: calc(100vh - 7rem);
  background-color: var(--color-background);
}

#title {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#title h2 {
  color: var(--color-text-title);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  height: 5rem;
}

/********************************* About *************************************/
#main-about {
  height: auto;
  padding-bottom: 1rem;
}

#about-page {
  height: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#about-page p {
  font-size: 1rem;
  text-align: center;
  line-height: 2;
  color: var(--color-primary);
  margin-bottom: 1rem;
}
#about-page #title-about h2 {
  width: 100%;
  color: var(--color-text-title);
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  height: 5rem;
}

/********************************* Simulator ***********************************/
#main-simulator {
  width: 100%;
  height: auto;
  background-color: var(--color-background);
}

#info {
  flex: 1;
  background-color: var(--color-background-box);
  margin: 5% 0;
  padding: 3%;
}

#form-info {
  animation: FadeLeft 1s;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#form-info h3 {
  color: var(--color-text-title);
  text-align: center;
  font-size: 1.31rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#form-info fieldset {
  width: 100%;
  border: none;
  border-top: 1px solid var(--color-in-line);
  text-align: center;
}
#form-info fieldset legend {
  padding: 0.5rem 0.63rem;
  color: var(--color-text-title);
}
#form-info fieldset select,
#form-info fieldset input {
  width: 95%;
  padding: 0.25rem;
  border-radius: 5px;
  border: 2px solid transparent;
  margin: 0.3rem 0;
  background-color: var(--color-primary-light);
  color: var(--color-text-title-white);
}
#form-info fieldset select select:focus,
#form-info fieldset select input:focus,
#form-info fieldset input select:focus,
#form-info fieldset input input:focus {
  border: 2px solid var(--color-primary);
  outline: none;
}
#form-info fieldset #valueInputRadio {
  display: flex;
  color: var(--color-primary);
}
#form-info fieldset #valueInput {
  -webkit-appearance: none;
  outline: none;
  height: 0.5rem;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  padding: 0;
}
#form-info fieldset #valueInput ::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: var(--color-primary);
  cursor: pointer;
}
#form-info fieldset #value-info {
  color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#form-info fieldset #input-radio {
  color: var(--color-primary);
}
#form-info fieldset .phone-cep {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
#form-info fieldset .phone-cep #phone,
#form-info fieldset .phone-cep #cep {
  margin-top: 0.3rem;
  margin-right: 0.3rem;
}
#form-info fieldset .phone-cep #phone ::last-child,
#form-info fieldset .phone-cep #cep ::last-child {
  margin-right: 0rem;
}

@keyframes FadeLeft {
  from {
    opacity: 0;
    transform: translate3d(-50%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
/********************************* Footer *************************************/
footer {
  width: 100%;
  height: 3.5rem;
  background-color: var(--color-primary-light);
  color: var(--color-text-title-white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.87rem;
  font-weight: 400;
}

/********************************* Responsividade *************************************/
@media (min-width: 768px) {
  nav .menuMobile {
    display: none;
  }
  nav ul {
    display: flex;
    position: initial;
    flex-direction: row;
    padding: 0;
    background: transparent;
    width: 30%;
    height: 100%;
  }
  nav ul li {
    padding: 0;
    border: none;
  }
  nav ul li a {
    font-size: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav ul li a :hover {
    background-color: var(--color-primary);
  }

  #banner {
    height: 28rem;
  }

  #title h2 {
    font-size: 2.5rem;
    height: 6rem;
    margin: 0 3%;
  }

  #button {
    padding: 0.8rem 3.5rem;
  }
}
@media (min-width: 1024px) {
  #banner {
    height: 38rem;
  }

  #title h2 {
    font-size: 3rem;
    height: 7rem;
    margin: 0 3%;
  }

  #button {
    padding: 1.3rem 4.5rem;
  }
}
@media (min-width: 1248px) {
  #main-simulator,
#main-about {
    height: calc(100vh - 8rem);
  }

  #container {
    flex-direction: row-reverse;
  }

  #banner {
    width: 50%;
    height: auto;
  }

  #title {
    width: 50%;
    height: auto;
  }
  #title h2 {
    font-size: 2.5rem;
    height: 7rem;
  }

  #about-page p {
    font-size: 0.75rem;
  }

  #button {
    padding: 0.6rem 3.2rem;
  }

  #info {
    margin: 2% 0;
    padding: 1% 3%;
  }

  #form-info fieldset select,
#form-info fieldset input {
    width: 95%;
    padding: 0.2rem;
  }

  .phone-cep #phone,
.phone-cep #cep {
    margin: 0.3rem 0.4rem;
  }
}
@media (min-width: 1900px) {
  #main-simulator {
    height: calc(100vh - 7rem);
  }

  #info {
    padding: 5%;
  }

  #form-info fieldset legend {
    padding: 1rem 0.63rem;
  }
  #form-info fieldset select,
#form-info fieldset input {
    padding: 0.5rem;
    margin: 0.5rem 0;
  }

  #about-page p {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
